body {
    background-color: #232323;
}
.shape {
    width: 30%;
    background: purple;
    padding-bottom:  30%;
    float: left;
    margin: 1.66%;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}
h1 {
    color: #fff;
    text-align: center;
}
span#score {
    color: #fff;
    font-weight: bold;
    font-size: 20px;

}

#message {
    color: #000;
    font-size: 20px;

}
#stripe {
    background-color: #fff;
    height: 45px;
    text-align: center;
}
.selected {
    background-color: blue;
}